# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_PASSWORD=
POSTGRES_USER=
DATABASE_URL=
DATABASE_URL_DOCKER=
JWT_ACCESS_SECRET_KEY=
JWT_ACCESS_SECRET_EXPIRATION="300s"
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_SECRET_EXPIRATION="90d"
RESET_PASSWORD_SENDER_EMAIL=
SMTP_HOST=
SMTP_PORT=
#true for 465, false for other ports
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
APP_PORT=3003
